VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_VIDEO_MODELS=seedance-2.5|Doubao-Seedance-2.5,seedance-2.0|Doubao-Seedance-2.0,seedance-2.0-fast|Doubao-Seedance-2.0-Fast,seedance-2.0-mini|Doubao-Seedance-2.0-Mini,seedance-1.0-pro|Seedance-1.0-Pro,seedance-1.0-pro-fast|Seedance-1.0-Pro-Fast
